@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-backround-color: #ffffff;
  --primary-text-color: #1c1f22;
  --info-container-color: #f5f5f7;
  --primary-description-text-color: #6d6d72;

  --glass-effect-color: rgba(232, 232, 237, 0.7);
  --glass-effect-box-shadow: rgba(0, 0, 0, 0.11);
  --glass-effect-hover-color: rgba(223, 223, 227, 0.698);
  --icon-color: #29292a;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p,
input,
button,
textarea,
select,
label,
a {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: auto;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

#infoContainer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;

  position: fixed;
  left: 0;

  z-index: 9999;
  padding: 0 10px;
  box-sizing: border-box;

  transition: 0.5s ease;
}

.infoContainerOut {
  top: -130px;
}

.infoContainerIn {
  top: 10px;
}

.infoContainerCenter {
  width: 100%;
  max-width: 1005px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  
  --webkit-backdrop-filter: blur(30px);
  backdrop-filter: blur(30px);
  background-color: var(--glass-effect-color);
  box-shadow: 0 0 1px var(--glass-effect-box-shadow);
  border-radius: 18px;
  
  padding: 15px 60px;
  box-sizing: border-box;
}

.infoText {
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  color: var(--primary-text-color);
}

/* ========== GLOBAL STYLES ========== */

.section {
  width: 100%;
  max-width: 812px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  margin-bottom: 70px;
}

.secSection {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
  box-sizing: border-box;

  background-color: #f8f8f8;
}

.sectionTextCon {
  width: 100%;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 32px;
}

.sectionTextContentCon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imageSection {
  width: 100%;
  max-width: 1255px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  margin-top: 42px;
  gap: 16px;
}

.sectionImage {
  width: calc(50% - 8px);
  max-width: 450px;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
}

@media only screen and (max-width: 810px) {
  .sectionTextCon {
    width: 100%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
  }
}

/* ========== GLOBAL TEXT STYLES ========== */

.sectionHeader {
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "cv11";
  font-feature-settings: "cv11";

  color: var(--primary-text-color);
  font-size: 2rem;
  font-weight: 700;
  text-align: left;
  letter-spacing: normal;
  line-height: 1.25;
  text-align: center;

  margin-bottom: 32px;
}

.descriptionHeader {
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "cv11";
  font-feature-settings: "cv11";

  color: var(--primary-text-color);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.3333333333;

  padding-top: 16px;
  margin-bottom: 16px;
}

.sectionDescription {
  width: 100%;

  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "cv11";
  font-feature-settings: "cv11";

  color: var(--primary-text-color);
  font-size: 1.125rem;
  font-weight: 400;
  text-align: left;
  letter-spacing: normal;
  line-height: 1.4444444444;
}

.highlight {
  color: #008000;
  font-weight: 600;
}

@media only screen and (max-width: 1023px) {
  .sectionHeader {
    font-size: 1.5rem;
    line-height: 1.3333333333;

    margin-bottom: 32px;
  }

  .descriptionHeader {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.4444444444;

    padding-top: 16px;
    margin-bottom: 16px;
  }

  .sectionDescription {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
  }
}

/* ========== FIRST SECTION ========== */

.firstSection {
  width: 100%;
  height: 100vh;

  background-image: url(../assets/images/Zukunftsbild_Deutschland_2_2045.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  box-sizing: border-box;

  margin-bottom: 40px;
  transition: background-image 2.5s ease;
  
  position: relative;
}

.firstSectionImageSourceCon {
  position: absolute;
  bottom: 0;
  right: 0;

  font-size: 9px;
  font-weight: 400;
  color: var(--primary-text-color);
  text-decoration: none;

  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: var(--glass-effect-color);
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);

  padding: 5px;
  box-sizing: border-box;
}

.firstSectionImageSourceText {
  font-size: 9px;
  font-weight: 400;
  color: var(--primary-text-color);
  text-decoration: underline;
  cursor: pointer;
}

.textCon {
  width: auto;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.75)
  );

  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.textConHeader {
  color: var(--primary-backround-color);
  font-size: 85px;
  font-weight: 900;
  text-align: center;
}

.textConDescription {
  color: var(--primary-backround-color);
  font-size: 30px;
  font-weight: 500;
  text-align: center;

  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: rgba(0, 128, 0, 0.7);
  border-radius: 10px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);

  padding: 5px;
}

.btnInfoCon {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
}

.infoGridCon {
  width: 100%;
  max-width: 760px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.infoCon {
  height: auto;
  width: 200px;
  padding: 20px;

  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: var(--glass-effect-color);
  border-radius: 16px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.infoFirstTextCon {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoIcon {
  width: 50px;
  height: auto;
  fill: #008000;
  stroke: #008000;
  margin-bottom: 10px;
}

.infoFirstText {
  color: var(--primary-text-color);
  font-size: 23px;
  font-weight: 550;
  margin-bottom: 25px;
}

.infoSecondTextCon {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.infoSecondText {
  color: #008000;
  font-size: 23px;
  font-weight: 500;
}

/* InfoBtn */
.infoBtn {
  height: auto;
  width: 240px;
  padding: 20px;

  --webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  background-color: rgba(0, 128, 0, 0.7);
  border-radius: 16px;
  box-shadow: inset 0 0 1px var(--glass-effect-box-shadow);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  transition: 0.15s ease-in-out;
  text-decoration: none;
}

.infoBtn:hover {
  background-color: rgba(0, 117, 0, 0.698);
}

.infoBtn:active {
  background-color: rgba(0, 117, 0, 0.698);
}

.infoBtnText {
  color: var(--primary-backround-color);
  font-size: 23px;
  font-weight: 550;
}

.infoBtnIcon {
  width: 22.5px;
  height: auto;
  fill: var(--primary-backround-color);
  stroke: var(--primary-backround-color);
}

/* ========== FIRST SECTION RESPONSIVE ========== */

@media only screen and (max-width: 1200px) {
  .textConHeader {
    font-size: 70px;
  }

  .textConDescription {
    padding: 5px;
  }
}

@media only screen and (max-width: 1023px) {
  .textConHeader {
    font-size: 65px;
  }

  .textConDescription {
    font-size: 24px;
  }

  /* INFO CONTAINERS / BUTTONS */
  .infoCon {
    width: 180px;
  }

  .infoIcon {
    width: 35px;
  }

  .infoFirstText {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .infoSecondText {
    font-size: 20px;
  }

  /* InfoBtn */
  .infoBtn {
    width: 220px;
  }

  .infoBtnText {
    font-size: 20px;
  }

  .infoBtnIcon {
    width: 19.5px;
  }
}

@media only screen and (max-width: 740px) {
  .textConHeader {
    font-size: 60px;
  }

  .textConDescription {
    font-size: 22px;
  }

  /* INFO CONTAINERS / BUTTONS */
  .infoCon {
    width: 160px;
  }

  .infoIcon {
    width: 30px;
  }

  .infoFirstText {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .infoSecondText {
    font-size: 18px;
  }

  /* InfoBtn */
  .infoBtn {
    width: 200px;
  }

  .infoBtnText {
    font-size: 18px;
  }

  .infoBtnIcon {
    width: 17.5px;
  }
}

@media only screen and (max-width: 679px) {
  .textCon {
    height: 40%;
  }

  .btnInfoCon {
    height: 60%;
  }

  .textConHeader {
    font-size: 50px;
  }

  .textConDescription {
    font-size: 19px;
  }
}

@media only screen and (max-width: 474px) {
  .infoGridCon {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 4vw;
    width: 90vw;
    max-width: none;
  }

  .infoCon {
    width: auto;
    height: auto;
    padding: 4vw;
    border-radius: 3vw;
  }

  .infoIcon {
    width: 8vw;
    margin-bottom: 2vw;
  }

  .infoFirstText {
    font-size: 4vw;
    margin-bottom: 4vw;
  }

  .infoSecondText {
    font-size: 4.5vw;
    white-space: nowrap;
  }

  .infoBtn {
    width: auto;
    padding: 4vw;
    border-radius: 3vw;
    gap: 2vw;
  }

  .infoBtnText {
    font-size: 4.5vw;
  }

  .infoBtnIcon {
    width: 4vw;
  }

  .textConHeader {
    font-size: 12vw;
  }

  .textConDescription {
    font-size: 4.5vw;
    width: 85%;
  }
}

/* ========== SECOND SECTION ========== */

.secondSection {
  width: 100%;
  max-width: 812px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  margin-bottom: 70px;
}

.secondSectionBtnCon {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #f8f8f8;
  box-sizing: border-box;

  padding: 30px;
  margin-bottom: 32px;
}

.secondSectionBtnGrid {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.secondSectionBtn {
  width: auto;
  height: auto;

  outline: none;
  background-color: #1c1f22;
  border-radius: 35px;
  border: none;

  padding: 15px 35px 15px 35px;

  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "cv11";
  font-feature-settings: "cv11";

  color: #fff;
  font-size: 1rem;
  font-weight: 550;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.25;

  transition: 0.15s ease-in-out;
}

@media (hover: hover) {
  .secondSectionBtn:hover {
    cursor: pointer;
    font-style: italic;
    transform: scale(1.03);
  }
}

.secondSectionBtn:active {
  cursor: pointer;
  font-style: italic;
  transform: scale(1.03);
}

.active {
  background-color: #1c1f22;
}

/* ========== THIRD SECTION ========== */

.thirdSection {
  width: 100%;
  max-width: 1255px;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 20px 0 20px;
  box-sizing: border-box;
  margin-bottom: 70px;
}

.thirdSectionInfoCon {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.thirdSectionInfoElement {
  width: 240px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: #f5f5f7;
  border-radius: 16px;

  box-sizing: border-box;
  padding: 20px;
}

.thirdSectionInfoElementTextCon {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thirdSectionInfoElementText {
  color: var(--primary-text-color);
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: normal;
  line-height: 1.3333333333;
  text-align: center;
}

.thirdSectionInfoSliderCon {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.infoSliderCon {
  width: 100%;
  max-width: 300px;
  height: 22px;
  border-radius: 100px;
  padding: 6px;
  box-sizing: border-box;
  background-color: #1c1f22;
}

.infoSlider {
  width: 50%;
  height: 100%;
  background-color: #6d6d72;
  border-radius: 100px;
  transition: 0.5s ease-in-out;
}

.thirdSectionInfoSliderText {
  -webkit-font-smoothing: antialiased;
  -webkit-font-feature-settings: "cv11";
  font-feature-settings: "cv11";

  color: var(--primary-text-color);
  font-size: 1rem;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  line-height: 1.5;
}

@media only screen and (max-width: 549px) {
  .thirdSectionInfoElement {
    width: 100%;
  }
}
